
 body {
  background-color: #282c34;
  margin: 0; 
  color: white;
  overflow-x:hidden;
}

.app {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
}

/* NavBar */
nav {
  display: flex;
  justify-content: space-between;
  width: 85vw;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 1.5em;
}

.contact-btn {
  width: 139px;
  height: 42px;
  padding: 12px 1px 12px 0;
  border: solid 1px white;
  background-color: transparent;
  color: white;
}

.navigation-links {
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  top: 2.2em;
}

.page-redirect {
  color: white;
  font-size: 14px;
  text-decoration: none;
  margin-top: 1em;
  font-weight: bold;
  text-align: left;
}

.page-redirect:hover {
  color: yellow;
}

/* Main Content (headers) */

.content {
  width: 85vw;
  max-width: 1440px;
  margin: 10% auto;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  align-items: center;
}

.headline {
  max-width: 50%;
  height: 250px;
  line-height: 4rem;
  font-size: 3.25rem;
  text-align: left;
  word-wrap: break-word;
  /* outline: 2px red solid; */
  font-family: Helvetica, sans-serif;
}

.main-text {
  box-sizing: border-box;
  word-wrap: break-word;
  width: 40%;
  height: 250px;
  padding: 0 1.5em;
  margin: auto 0;
  /* outline: 2px blue solid; */
}

.subheader {
  font-size: .9rem;
  text-align: left;
  line-height: 1.625rem;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 0.815);
}

/* Call To Action */
.cta-banner {
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 85vw;
  height: 180px;
  margin: 0em auto;
  max-width: 1440px;
  padding: 0em 1em;
}

.cta-text {
  color: black;
  font-weight: bolder;
  font-size: 1.1rem;
  word-wrap: normal;
}

.cta-redirect {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-redirect > span {
  color: black;
  font-size: 0.8rem;
  font-weight: bold;
  
}

.arrow {
  display: inline-block;
  padding: 6px;
}

@media screen and (max-width: 900px) {
  .content {
    width: 98vw;
    display: flex;
    flex-direction: column;
  }
  .main-text {
    width: 100%;
    /* outline: orange 7px solid; */
  }

  .headline {
    font-size: 1.5rem;
    max-width: 90%;
    text-align: center;
  }

  .subheader {
    font-size: 1rem;
  }
}
