html,
* {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  background-color: #282c34;
  margin: 0;
  color: white;
  overflow-x: hidden;
  box-sizing: border-box;
}

.app {
  font-family: Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
}

/* NavBar */
nav {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 1.6rem;
}

.contact-btn {
  width: 8.7rem;
  height: 2.625;
  padding: 12px 1px 12px 0;
  border: solid 1px white;
  background-color: transparent;
  color: white;
}

.navigation-links {
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  top: 3rem;
}

.page-redirect {
  color: white;
  font-size: 0.875rem;
  text-decoration: none;
  line-height: 1.86;
  font-weight: bold;
}

.page-redirect:hover {
  color: yellow;
}

/* Main Content (headers) */

.content {
  width: 90vw;
  max-width: 1440px;
  min-height: 17rem;
  height: auto;
  margin: 16rem auto 3rem auto;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 4.5rem;
}

.headline {
  max-width: 38.25rem;
  font-size: 5.25rem;
  line-height: 1;
  letter-spacing: -2.2px;
  margin: 0;
  word-wrap: break-word;
  font-family: Helvetica, sans-serif;
}

.main-text {
  max-width: 22.5rem;
}

.subheader {
  font-size: 1rem;
  line-height: 1.86;
  color: rgba(255, 255, 255, 0.815);
}

/* Call To Action */
.cta-banner {
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  height: 11.2rem;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0em 1em;
}

.cta-text {
  color: black;
  font-weight: bolder;
  font-size: 1.5rem;
  line-height: 1.33;
  letter-spacing: -0.65px;
}

.cta-redirect {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-redirect > span {
  color: black;
  font-size: 0.8rem;
  font-weight: bold;
}

.arrow {
  display: inline-block;
  padding: 6px;
}

@media screen and (max-width: 1100px) {
  .content {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 7rem;
    padding: 0;
  }

  .headline {
    font-size: 4.5rem;
    margin: 0 auto 1.5rem auto;
  }

  .main-text {
    margin: 0 auto;
  }
  .cta-text {
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .headline {
    font-size: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .headline {
    font-size: 3rem;
  }
}
